<?xml version="1.0"?>
<robot name="Excavator">
  <link name="tread_link">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://excavator_model/meshes/Excavator_Tread.stl"/>
        </geometry>
    </visual>
    <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://excavator_model/meshes/Excavator_Tread.stl"/>
        </geometry>
    </collision>
  </link>
</robot>